:root {
    --clr-light: #2e1437;
    --clr-dark: #e7eed0;
    --clr-primary: #cad1c3;
    --clr-secondary: #51425f;
    --clr-accent: #948e99;
    --bgc-menu: linear-gradient(to bottom,  #e7eed0, #cad1c3, #f5f5f5);
    --box-shadow: #021E23 0px 1px 4px;
    --border-radius: 5px;
    --clr-meme: var(--clr-light);
    --clr-bgc-meme: white;
    --fs-meme: 2rem;

    --foreground: var(--clr-secondary);
    --background: var(--clr-primary);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
outline: 2px solid var(--clr-secondary);
}

/* INITIAL STYLES */

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 
        "header aside"
        "main   aside"
        "footer aside"
    ;
    font-family: 'Advent Pro', sans-serif;
    background-color: var(--background);
    color: var(--clr-light);
    font-size: 16px;
}

header {
    height: 18vh;
    grid-area: header;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    background-color: var(--clr-dark);
    box-shadow: var(--box-shadow);
    gap: 0.5rem;
}

nav {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding-bottom: 0.5em;
}

main {
    height: 70vh;
    grid-area: main;
    display: flex;
    justify-content: center;
}

footer {
    height: 10vh;
    grid-area: footer;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    padding-top: 0.2em;
}

h2 {
    font-size: 2rem;
    margin: 0 auto;
}

h3 {
    font-size: 1.2rem;
    padding-bottom: 0.3em;
}

h1, h2, h3 {
    font-family: 'Rubik Doodle Shadow', system-ui;
    color: var(--clr-light);
    text-align: center;
}

aside {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    grid-area: aside;
    background: var(--bgc-menu);
    box-shadow: var(--box-shadow);
}

button {
    outline: none;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.2rem;
    color: var(--clr-dark);
    font-weight: bold;
    box-shadow: var(--box-shadow);
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--clr-light);
}

button:hover, button:active {
    background-color: var(--clr-accent);
}

button:focus {
    outline: 2px solid var(--clr-light);
}

select {
    font-family: 'Advent Pro', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

select:hover, select:active {
    background-color: var(--clr-accent);
}

input[type="range"] {
    width: 80%;
    appearance: none;
    border-radius: var(--border-radius);
    height: 0.3em;
    background-color: var(--clr-light);
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: var(--clr-secondary);
}
  
input[type="range"]::-moz-range-thumb {
    background-color: var(--clr-secondary);
}

input[type="range"]:focus, input[type="range"]:active {
    background-color: var(--clr-accent);
}

input[type="number"] {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    appearance: none;
    border-radius: var(--border-radius);
    background-color: var(--clr-primary);
    color: var(--clr-light);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    height: 2.5em;
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
}

input[type="number"]:hover, input[type="number"]:focus, input[type="number"]:active {
    background-color: var(--clr-accent);
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    width: 1.2em; 
    height: 1.2em; 
    border: 2px solid var(--clr-secondary); 
    background-color: var(--clr-primary); 
    outline: none; 
    cursor: pointer;
    border-radius: var(--border-radius);
}

input[type="checkbox"]:checked {
    background-color: var(--clr-accent); 
    border-color: var(--clr-light);
}

input[type="checkbox"]::before {
    content: '\2713'; 
    display: block;
    color: #FFFFFF; 
    text-align: center;
    line-height: 1rem;
    font-size: 1rem; 
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;

}

input[type="checkbox"]:focus {
    background-color: var(--clr-accent);
    outline: 2px solid var(--clr-light);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

label {
    cursor: pointer;
}

/* DARK MODE STYLE*/

.darkmode {
    --clr-light: #e7eed0;;
    --clr-dark: #2e1437;
    --clr-primary: #51425f;
    --clr-secondary: #cad1c3;
    --clr-accent: #948e99;
    --bgc-menu: linear-gradient(to bottom, #51425f, #2e1437, #021E23);

    --foreground: var(--clr-secondary);
    --background: var(--clr-primary);
}

/* DESIGN STYLES*/

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    gap: 0.5em;
}

.section-menu {
    padding-bottom: 0.5em;
}

.title-icon {
    width: 2.2rem;
}

.custom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--clr-light);
    padding: 0.5rem;
    box-shadow: none;
}

.custom-btn:hover, .custom-btn:active {
    background-color: var(--clr-primary);
}

.btn-icon {
    width: 1.5em;
}

.close-window {
    display: none;
}

.btn-container {
    padding-top: 1em;
}

.one-input {
    position: relative;
}

.one-input, .two-inputs {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    margin: 0 auto;
}

.col-1 {
    width: 50%;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-2 {
    position: relative;
    width: 40%;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-3 {
    width: 40%;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.grid-cols-a {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    padding-block: 0.5em;
    margin: 0 auto;
}

.grid-cols-b {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    gap: 1em;
    padding-inline: 1em;
    margin: 0 auto;
}


.input-name {
    height: 1.5em;
}

.input-text {
    border-radius: var(--border-radius);
    background-color: var(--clr-primary);
    color: var(--clr-light);
    box-shadow: var(--box-shadow);
    height: 2.2rem;
    font-family: 'Advent Pro', sans-serif;
}

.input-text::placeholder {
    text-align: center;
    font-weight: bold;
}

.input-text:hover, .input-text:active {
    background-color: var(--clr-accent);
}

.input-text:focus {
    font-weight: bold;
    background-color: var(--clr-accent);
    outline: 2px solid var(--clr-light);
}

.circle-selector {
    height: 2.4em;
    background-color: transparent;
    clip-path: circle(25%);
}

.color-select {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2.2rem;
    background-color: var(--clr-primary);
    border-radius: var(--border-radius);
    padding-right: 0.5em;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.color-select:hover {
    background-color: var(--clr-accent);
}

.panel-control-select {
    width: 100%;
    height: 2.2em;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--clr-primary);
    text-align: center;
    color: var(--clr-light);
}

.text-container {
    width: 80%;
    height: 3em;
    resize: none;
}

.remove-option {
    height: 2em;
}

.checkbox-container {
    gap: 0.5em;
}

    /* MEME CONTAINER */

.edit-download-wrapper {
    padding-block: 1em;
}

#canvas {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 45vw;
    height: 57vh;
    background-color: white;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.meme-txt {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: var(--fs-meme);
    color: var(--clr-meme);
    background-color: var(--clr-bgc-meme);
    padding-block: 0.2rem;
}

#img-container {
    max-width: 100%;
    max-height: 75%;
    background-color: black;
    margin: 0 auto;
    object-fit: contain;
}

#btn-download {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 12em;
    margin: 0 auto;
    padding: 0.5em;
    box-shadow: var(--box-shadow);
}

#btn-download:hover, #btn-download:active {
    background-color: var(--clr-accent);
    outline: 2px solid var(--clr-secondary);
}

#btn-download:focus {
    outline: 3px solid var(--clr-accent);
}

    /* IMAGE EDITOR MENU*/

#img-menu {
    width: 90%;
    margin: 0 auto;
}

#img-menu div > p {
    display: flex;
    justify-content: center;
    margin-block: 0.5em;
    line-height: 1em;
    text-align: center;
    font-weight: bold;
}

#upload-meme-img {
    opacity: 0;
    cursor: pointer;
}

#btn-img-upload {
    width: 100%;
    height: 2.2em;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    box-shadow: var(--box-shadow);
    padding: 0.5em;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-align: center;
    position: absolute;
}

#btn-img-upload:hover, #btn-img-upload:active {
    background-color: var(--clr-accent);
    outline: 2px solid var(--clr-secondary);
} 

#btn-img-upload:focus {
    outline: 3px solid var(--clr-accent);
}

#url-img-input {
    width: 100%;
}

#url-img-input:hover, #url-img-input:active {
    background-color: var(--clr-accent);
    color: var(--clr-light); 
}

#btn-default-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 10em;
    padding: 0.5em; 
}

#btn-default-filters:hover, #btn-default-filters:active {
    background-color: var(--clr-accent);
    outline: 2px solid var(--clr-secondary);
}

#btn-default-filters:focus {
    outline: 3px solid var(--clr-accent);
}
    /* TEXT EDITOR MENU*/

#text-editor-menu {
    display: none;
}


#text-font-family {
    width: 80%;
}

.align-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.txt-align:hover {
    background-color: var(--clr-accent);
}

    /* FOOTER STYLE*/

.social-networks{
    padding-bottom: 0.5em;
}

.footer-icon {
    font-size: 1.8rem;
    color: var(--clr-light);
    border-radius: var(--border-radius);
    background-color: var(--clr-primary);
    padding-block: 0.3rem;
    padding-inline: 0.5rem;
}

.footer-icon:hover, .footer-icon:active {
    background-color: var(--clr-dark);
    outline: 2px solid var(--clr-secondary);
}

.design-by {
    font-size: 1.2rem;
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1120px) {

    body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer"
    ;
    height: auto;
    }

    header {
    height: auto;
    }

    main {
    height: 80%;
    width: 100vw;
    }

    aside {
    display: grid;
    height: auto;
    justify-content: normal;
    padding-bottom: 1rem;
    }

    footer {
    height: auto;
    padding-block: 1rem;
    }

    #canvas {
    width: 80vw;
    height: 50vh;
    }

    .menu-lvl-1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    justify-content: space-around;
    grid-template-areas: 
        "col-1 col-3"
        "col-2 col-3"
    ;
    }

    .title-section {
    width: 100%;
    display: flex;
    }

    .close-window {
    display: flex;
    justify-content: center;
    }

    .alert-text {
    grid-area: col-1;
    }

    .add-section {
    grid-area: col-2;
    }

    .edit-section {
    grid-area: col-3;
    }

    .menu-lvl-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "one one"
        "two three"
    ;
    }

    .filters-column-1 {
    grid-area: one;
    }

    .filters-column-2 {
    grid-area: two;    
    }

    .filters-column-3 {
    grid-area: three;
    }

    .add-text {
    display: grid;
    grid-template-columns: 50% 50%;
    }

    .text-modifiers {
    display: grid;
    grid-template-columns: 50% 50%;
    }

    .grid-cols-a {
    padding: 0;
    grid-template-columns: 30% 50%;
    }

    .grid-cols-b {
    grid-template-columns: 100%;
    grid-template-areas:
        "a"
        "b";
    }

    .color-outliner-spacing-padding-modifiers {
    display: grid;
    grid-template-columns: 50% 50%;
    }
}
